.filterTitle {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.54;
  color: #dbe3ff;
}
.filterInput {
  width: 150px;
  padding: 4px;
  margin-top: 20px;
  border-radius: 6px;
  outline: none;
  font-size: 12px;
}

.filterInput:hover,
.filterInput:focus {
  border-color: #805ec0;
}
