.userMenuContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
}

.username {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.54;
  color: #dbe3ff;
}

.logOutButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  padding: 4px 5px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms linear, box-shadow 250ms linear,
    color 250ms linear;
}

.logOutButton:hover,
.logOutButton:focus {
  background-color: #805ec0;
  color: #dbe3ff;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
